GeoAlchemy2==0.4.0
openpyxl==1.8.6
psycopg2==2.7.1
SQLAlchemy==1.1.9
SQLAlchemy-Utils==0.32.14
https://github.com/ealgis/ealgis-data-schema/archive/1.0.1.tar.gz
https://github.com/ealgis/ealgis-common/archive/0.0.2.zip